{{define "content"}}
<h1>Collection Todos</h1>
<!-- <a href="/admin/users/new">Add User</a> -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Completed</th>
        <th>Created At</th>
        <th>Update At</th>
        <th>Actions</th>
    </tr>
    111
    {{range .collection_todos}}
    <tr>
        <td><a href="/admin/collection_todos/{{.ID}}">{{.ID}}</a></td>
        <td>{{.Title}}</td>
        <td>{{.Completed}}</td>
        <td>{{.CreatedAt}}</td>
        <td>{{.UpdatedAt}}</td>
        <td>
            <a class="button" href="/admin/users/{{.ID}}/edit" data-selenium="edit-{{.Login}}">Edit</a>
            <form action="/admin/users/{{.ID}}/delete" method="post" style="display:inline;">
                <button type="submit" data-selenium="delete-{{.Login}}">Delete</button>
            </form>
        </td>
    </tr>
    {{end}}
</table>
{{end}}
