{{define "content"}}
<h1>Users</h1>
<a href="/admin/users/new">Add User</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Actions</th>
    </tr>
    {{range .users}}
    <tr>
        <td><a href="/admin/users/{{.ID}}">{{.ID}}</a></td>
        <td>{{.Login}}</td>
        <td>
            <a class="button" href="/admin/users/{{.ID}}/edit" data-selenium="edit-{{.Login}}">Edit</a>
            <form action="/admin/users/{{.ID}}/delete" method="post" style="display:inline;">
                <button type="submit" data-selenium="delete-{{.Login}}">Delete</button>
            </form>
        </td>
    </tr>
    {{end}}
</table>
{{end}}
