{{define "content"}}
<h1>Pages</h1>
<a href="/admin/pages/new">Add Page</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Slug</th>
        <th>Actions</th>
    </tr>
    {{range .pages}}
    <tr>
        <td><a href="/admin/pages/{{.ID}}" data-selenium="show-{{.Slug}}">{{.ID}}</a></td>
        <td>{{.Slug}}</td>
        <td>
            <a class="button" href="/admin/pages/{{.ID}}/edit" data-selenium="edit-{{.Slug}}">Edit</a>
            <form action="/admin/pages/{{.ID}}/delete" method="post" style="display:inline;">
                <button type="submit" data-selenium="delete-{{.Slug}}">Delete</button>
            </form>
        </td>
    </tr>
    {{end}}
</table>
{{end}}
